In [2]:
import pandas as pd
import numpy as np

In [3]:
# open the 3 datasets
df_cl = pd.read_excel("UEFAperTeam.xlsx",encoding = "utf8")
d_tf = pd.read_csv("data_10b_by_hand.csv",encoding = "utf8")

d_tf.team_from = d_tf.team_from.replace('Bolton','Bolton Wanderers').replace('Charlton','Charlton Athletic').replace('Leeds','Leeds United').replace('QPR','Queens Park Rangers').replace('Pacos Ferreira','Pacos de Ferreira').replace('1860 Munich','1860 Munchen').replace('Hull','Hull City').replace('Derby','Derby County').replace('Bari','Beri 1908').replace('Latina Calcio','Latina').replace('Alcoron','Alcorcon').replace('FC Barcelona B','Barcelona II').replace('Leicester','Leicester City').replace('CD Numancia','Numancia').replace('NEC Nijmegen','NEC').replace('CD Lugo','Lugo')
d_tf.team_to = d_tf.team_to.replace('Bolton','Bolton Wanderers').replace('Charlton','Charlton Athletic').replace('Leeds','Leeds United').replace('QPR','Queens Park Rangers').replace('Pacos Ferreira','Pacos de Ferreira').replace('1860 Munich','1860 Munchen').replace('Hull','Hull City').replace('Derby','Derby County').replace('Bari','Beri 1908').replace('Latina Calcio','Latina').replace('Alcoron','Alcorcon').replace('FC Barcelona B','Barcelona II').replace('CD Numancia','Numancia').replace('NEC Nijmegen','NEC').replace('CD Lugo','Lugo')

In [4]:
df_cl.rename(columns={'Team':'team_from'}, 
                 inplace=True)

# join the 2 datasets on the team selling the player
d_tf2 = d_tf.join(df_cl.set_index('team_from'), on='team_from')

In [5]:
d_tf2.head()

,Unnamed: 0,Unnamed: 0.1,date,season,height,weight,team_from,team_to,price,year,...,birthCountry,foot,name_final,country,14/15,15/16,16/17,17/18,18/19,Nation
0,0,0,31/08/2016,16/17,188,81,Fiorentina,Chelsea,27.0,2016,...,Spain,left,Marcos Alonso,ITA,20.0,8.0,11.0,0.0,0.0,14.945
1,1,1,31/08/2016,16/17,179,75,Lorient,Sunderland,16.0,2016,...,Gabon,right,D. Ndong,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,31/08/2016,16/17,175,73,Olympique Marseille,Tottenham Hotspur,11.0,2016,...,France,right,G. NKoudou,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,31/08/2016,16/17,187,91,Newcastle United,Tottenham Hotspur,35.0,2016,...,France,right,M. Sissoko,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,31/08/2016,16/17,189,84,PSG,Chelsea,40.0,2016,...,Brazil,right,David Luiz,FRA,21.0,24.0,20.0,19.0,19.0,11.699

In [6]:
d_tf2['europeanPerf_team_from'] = np.nan

def perfEurYearBefore(df):
        if df['season']=='16/17':
            return df['15/16']
        elif df['season']=='17/18':
            return df['16/17']
        elif df['season']=='18/19':
            return df['17/18']
        else:
            return np.nan

d_tf2['europeanPerf_team_from'] = d_tf2.apply(perfEurYearBefore, axis = 1).fillna(0)
d_tf2 = d_tf2.drop(['country','14/15','15/16','16/17','17/18','18/19','Nation'], axis=1)

# bad programming:
#d_tf2['europeanPerf_team_from'] = np.nan

#for i in range(0, d_tf2.shape[0]):
#    if d_tf2['season'][i]=='16/17':
#        d_tf2['europeanPerf_team_from'][i] = d_tf2['15/16'][i]
#    elif d_tf2['season'][i]=='17/18':
#        d_tf2['europeanPerf_team_from'][i] = d_tf2['16/17'][i]
#    elif d_tf2['season'][i]=='18/19':
#        d_tf2['europeanPerf_team_from'][i] = d_tf2['17/18'][i]

#d_tf2['europeanPerf_team_from'] = d_tf2.europeanPerf_team_from.fillna(0)

In [7]:
df_cl.rename(columns={'team_from':'team_to'}, 
                 inplace=True)

# join the 2 datasets on the team of arrival
d_tf2 = d_tf2.join(df_cl.set_index('team_to'), on='team_to')

d_tf2['europeanPerf_team_to'] = np.nan
d_tf2['europeanPerf_team_to'] = d_tf2.apply(perfEurYearBefore, axis = 1).fillna(0)
d_tf2 = d_tf2.drop(['country','14/15','15/16','16/17','17/18','18/19','Nation'], axis=1)

In [8]:
d_tf2.head(10)

,Unnamed: 0,Unnamed: 0.1,date,season,height,weight,team_from,team_to,price,year,...,city_selling,country_buying,country_name_buying,city_buying,PassportCountry,birthCountry,foot,name_final,europeanPerf_team_from,europeanPerf_team_to
0,0,0,31/08/2016,16/17,188,81,Fiorentina,Chelsea,27.0,2016,...,Firenze,GB,England,London,Spain,Spain,left,Marcos Alonso,8.0,18.0
1,1,1,31/08/2016,16/17,179,75,Lorient,Sunderland,16.0,2016,...,Lorient,GB,England,Sunderland,Gabon,Gabon,right,D. Ndong,0.0,0.0
2,2,2,31/08/2016,16/17,175,73,Olympique Marseille,Tottenham Hotspur,11.0,2016,...,Marseille,GB,England,London,Cameroon,France,right,G. NKoudou,0.0,12.0
3,3,3,31/08/2016,16/17,187,91,Newcastle United,Tottenham Hotspur,35.0,2016,...,Newcastle upon Tyne,GB,England,London,France,France,right,M. Sissoko,0.0,12.0
4,4,4,31/08/2016,16/17,189,84,PSG,Chelsea,40.0,2016,...,Paris,GB,England,London,Portugal,Brazil,right,David Luiz,24.0,18.0
5,5,5,31/08/2016,16/17,188,83,Sporting CP,Leicester City,34.0,2016,...,Lisboa,GB,England,Leicester,Algeria,Algeria,right,I. Slimani,0.0,0.0
6,6,6,29/08/2016,16/17,170,60,Lille,Southampton,20.0,2016,...,Villeneuve-d'Ascq,GB,England,Southampton,Morocco,France,right,S. Boufal,0.0,1.5
7,7,7,29/08/2016,16/17,187,80,Tottenham Hotspur,West Ham United,15.2,2016,...,London,GB,England,London,Morocco,Belgium,right,N. Chadli,12.0,1.0
8,8,8,28/08/2016,16/17,184,82,Valencia,Arsenal,41.0,2016,...,Valencia,GB,England,London,Albania,Germany,right,S. Mustafi,14.0,15.0
9,9,9,28/08/2016,16/17,180,73,Deportivo La Coruna,Arsenal,20.0,2016,...,A Coruna,GB,England,London,Spain,Spain,left,Lucas Perez,0.0,15.0

In [9]:
d_tf2.to_csv("data_11.csv", header=True, sep=',')